/ BEGIN users/_search.html.haml

%input{ type: "text", autofocus: "true" }
%table.table
  -# - if @property_transaction
  -#   - @property_transaction.users.each do |user|
  -#     - if current_user != user
  -#       - name = user.first_name.blank? ? user.email : user.full_name
  -#       %tr= link_to("#{name} #{user.id}", admin_user_become_path(user))
  -#   %tr
  -#     %td ...
  - @users.each do |user|
    - roles = user.roles.collect(&:name).uniq.join(", ")
    %tr{ data: { info: [user.full_name,user.email,user.id,roles].map(&:to_s).map(&:downcase).join } }
      %td= user.id
      %td= user.first_name.blank? ? user.email : user.full_name
      %td= user.email
      %td= roles
      %td= link_to("Login", admin_user_become_path(user))

/ END users/_search.html.haml
