:javascript
  $(function() {
     $.R.MLO_PROFILE.init();
  })


.c-mlo-search
  - @users.each do |user|
    .c-mlo-search__list-wrap
      %i.td-icon.td-icon-avatar.c-mlo-search__mlo-avatar
      .c-mlo-search__details
        .c-mlo-search__mlo-name
          %h2.c-mlo-search__mlo-name
            = user.name
          .c-mlo-search__nmls.f-sm
            = 'NMLS # ' + (user.license_number.present? ? user.license_number : ' ')
        .c-mlo-search__mlo-info
          = user.address
        .c-mlo-search__contact
          %i.td-icon.td-icon-contactUs
          %span.c-mlo-search__phone
            = user.mobile_phone
        .c-mlo-search__contact
          %i.td-icon.td-icon-email
          %span.c-mlo-search__email
            = user.email
      %i.td-icon.td-icon-arrowRight.c-mlo-search__arrow
